<!DOCTYPE html>
<html>
  <head>
    <title>CodeBreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
  </head>
  <body>
  <div id="container">
    <h1>Welcome to Codebreaker Game</h1>
  </div>
  </body>
</html>